@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-sans-serif;
  box-sizing: border-box;
}

/*Style for all navigation*/
.navigation {
  background-color:  #20B2AA;
  overflow: hidden;
}

.logo img{
    position: absolute;
    margin: 5px 0 0 10px;
    height: 50px;
    width: 50px;
    clear: right;
  }

/* Style the links inside the naviTitle bar */
.naviTitle a {
  float: left;
  color: white;
  text-align: right;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 16px;
  margin-left: 50px;
}

/* Style the links inside the naviOption bar */
.naviOption a {
  float: right;
  color: white;
  text-align: right;
  padding: 20px 14px;
  text-decoration: none;
  font-size: 16px;
}


/* Change the color of links on hover */
.naviOption a:hover {
  background-color: #00CED1;
  color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #00BFFF;
  color: white;
}

button {
  padding: 15px 40px;
  border: 0;
  outline: none;
  border-radius: 25px;
  background: white;
  colour: black;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: #dae4ff;
  padding-left: 6%;
  padding-right: 6%;
padding-top: 60px;
}

.row {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}


.col-1 {
  padding: 8% 5%;
  position: relative;
}

.col-1 h1 {
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 2px;
}

.col-1 p {
  color: #777;
  line-height: 22px;
  margin: 15px 0 30px;
}
